<div>
  <div class="title">
    <% if controller_name == 'properties' && action_name == 'index' %>
      PROPERTIES
    <% elsif controller_name == 'properties' && action_name == 'new' %>
      NEW PROPERTY
    <% elsif controller_name == 'properties' && action_name == 'show' %>
      PROPERTY
    <% elsif controller_name == 'sessions' && action_name == 'new' %>
      LOG IN
    <% elsif controller_name == 'registrations' && action_name == 'new' %>
      REGISTER
    <% elsif controller_name == 'passwords' && action_name == 'new' %>
      FORGOT YOUR PASSWORD?
    <% else %>
      Controller name
    <% end %>
  </div>
  <br />
  <% if user_signed_in? %>
    <%= link_to 'Perfil', user_profile_path(current_user) %>
    <%= link_to 'Logout', custom_destroy_user_session_path %>
  <% else %>
    <%= link_to 'Login', new_user_session_path %>
  <% end %>
  
</div>