<h1>Your Profile</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Properties</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @user.first_name %></td>
      <td><%= @user.last_name %></td>
      <td><%= @user.email %></td>
      <td>
        <% if @user_properties.any? %>  
          <ul>
            <% @user_properties.each do |property| %>
              <li><%= link_to property.title, property_path(property) %></li>
            <% end %>
          </ul>
        <% else %>
          No properties found.
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
